<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

  </head>

  <body>
  <script>var airports = <%- JSON.stringify(airportData) %>;</script>
  <script type="application/javascript" src="/javascripts/program.js"></script>
  </body>
</html>
